body {
    background-image: url("semitransparent.png"); 
    font-family: Arial, sans-serif;
  }
  
  /* Change font for h1 */
  h1 {
    font-size:15px;
    color :rgb(15, 105, 105);
    font-family: Impact, sans-serif; /* Change the font for h1 */
  }
  
  /* Style buttons */
  button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 10px;
    cursor: pointer;
  }

  /* Counter Ring Style */
  .counter-ring {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #11c511;
    display: flex;
    justify-content: center;
    align-items: center;
  }